* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 80%;
  background-color: #eee;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container .outer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.container .outer .inner {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.container .outer .inner #number {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .outer .inner #number span:last-child {
  padding-top: 4px;
  font-size: 25px;
}

.container .subcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .subcontainer div .text {
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  animation: scale 1s linear infinite;
  animation-direction: alternate;
}

.container .subcontainer svg {
  position: absolute;
  top: 0;
  left: 0;
}

.container .subcontainer #first-svg circle {
  fill: none;
  stroke: url(#linearGradient1);
  stroke-width: 20;
  stroke-dasharray: 533.2080078125;
  stroke-dashoffset: 533.2080078125;
  animation: first-svg 5s linear forwards;
}

.container .subcontainer #second-svg circle {
  fill: none;
  stroke: url(#linearGradient2);
  stroke-width: 20;
  stroke-dasharray: 533.2080078125;
  stroke-dashoffset: 533.2080078125;
  animation: second-svg 5s linear forwards;
}

.container .subcontainer #third-svg circle {
  fill: none;
  stroke: url(#linearGradient3);
  stroke-width: 20;
  stroke-dasharray: 533.2080078125;
  stroke-dashoffset: 533.2080078125;
  animation: third-svg 5s linear forwards;
}

@keyframes first-svg {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes second-svg {
  to {
    stroke-dashoffset: 53.3208;
  }
}

@keyframes third-svg {
  to {
    stroke-dashoffset: 106.6416;
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
